header {
    padding: 15px;
    margin: 50px;
    background-color: grey;
    border-style: solid;
    border-width: 2px;
    height: 230px;
    border-color: black;
    color: purple;
    border-radius: 20px;
}

img {
    width: 350px;
    float: right;
}

h1 {
    color: orange;
}